# from test

In [69]:
import pandas as pd
import sys

# read csv file

In [70]:
df = pd.read_csv('HW3_Tianyin_Fan.csv')

# show tables

In [71]:
df.head(100)

,Unnamed: 0,Requirement,Analysis,Design,Coding,Unit Testing,Integration Testing,System Testing,Field,Total
0,Requirement,81,,,,,,,NaN,81
1,Analysis,21,29,,,,,,NaN,50
2,Design,17,17,102,,,,,NaN,136
3,Coding,36,19,55,402,,,,NaN,512
4,Unit Testing,12,35,8,156,51,,,NaN,262
5,Integration Testing,7,15,7,27,-,3,,NaN,59
6,System Testing,14,39,5,23,-,-,3,NaN,84
7,Field,3,2,2,7,-,-,-,7.0,21
8,Total,191,156,179,615,51,3,3,7.0,1205

In [ ]:
# read one column

In [72]:
df['Unnamed: 0']

0            Requirement
1               Analysis
2                 Design
3                 Coding
4           Unit Testing
5    Integration Testing
6         System Testing
7                  Field
8                   Total
Name: Unnamed: 0, dtype: object